<!DOCTYPE html>
<html lang="en">

<header>
  <title>{{title}}</title>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>
  <div class="banner"></div>
  {{!-- bootstrap.css --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">


  {{!-- bootstrap-icons css --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap-icons.css">


  {{!-- bootstrap js --}}
  <script defer src="/javascripts/popper.js"></script>
  <script defer src="/javascripts/bootstrap.js"></script>

  <link rel="stylesheet" href="/stylesheets/styles.css">
</header>

<body>
  {{{body}}}
</body>

</html>